
/**{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}*/

body {
    background-color: brown;
}

.tabs {
    height: 85%;
    width: 45%;
    background: rgba(255, 255, 255, 0.25);
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 5px 10px;
}

.tabs .title {
    height: 15%;
}

.tabs .title button {
    width: 45%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase; 
}

.tabs .title button:hover {
    background-color: yellow;
}

.tabs .content {
    height: 85%;
    color: rgb(239, 250, 21);
    padding-top: 105px;
    box-sizing: border-box;
    text-align: center;
    font-size: 22px;
    display: none;
}
